<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

<head>
    <title>Assurance</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center mt-5 mb-5">
                <h2>The inexpensive scooter insurance from AXA</h2>
            </div>
            <!-- untuk mengambil gambar dari storage th:src -->
            <div class="col-5 d-flex justify-content-center py-0 px-0">
                <img th:src="@{/img/scooter.jpg}" class="img-fluid" width="90%">
            </div>
            <div class="col-7 pt-4 pl-3 border-top">
                <!-- form untuk web service -->
                <form action="#" method="post" th:object="${insurance}">
                    <div class="row mb-3">
                        <label for="#" class="col-sm-6 col-form-label fw-bold">Desired start of insurance:</label>
                        <div class="col-sm-6">
                            <select class="form-select" aria-label="Default select example">
                                <option th:each="date:${dates}" th:text="${date}" th:value="${date}">#</option>>
                              </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="#" class="col-sm-6 col-form-label fw-bold">With partial coverage?</label>
                        <div class="col-sm-6 pt-2">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="option_1" th:value="${option[0]}" th:field="*{option_1}">
                                <label class="form-check-label" for="#">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="option_1" th:value="${option[1]}" th:field="*{option_1}">
                                <label class="form-check-label" for="#">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="#" class="col-sm-6 col-form-label fw-bold">Will the vehicle be used by a young driver (under 18 years old)?</label>
                        <div class="col-sm-6 pt-2">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="option_2" th:value="${option[2]}" th:field="*{option_2}">
                                <label class="form-check-label" for="#">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="option_2" th:value="${option[1]}" th:field="*{option_2}">
                                <label class="form-check-label" for="#">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3 mb-3">
                        <label for="#" class="col-sm-9 col-form-label fw-bold">Your contribution for the above period:</label>
                        <div class="col-sm-3 pt-2">
                            <p id="result" class="fw-bold">00 EUR</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12 mt-2">
                            <input class="btn btn-primary float-end" type="button" value="Submit" onclick="madeAjaxCall()" />
                        </div>
                    </div>
                </form>
                <!-- end form -->
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

    <script type="text/javascript">
        // fungsi untuk proses data dari web service controller
        function madeAjaxCall() {
            const opt1 = $("input[name='option_1']:checked").val();
            const opt2 = $("input[name='option_2']:checked").val();
            const params = `option_1=${opt1}&option_2=${opt2}`;

            $.ajax({
                type: "post",
                url: "/insurance",
                cache: false,
                data: params,
                success: function(response) {
                    var obj = response;
                    $('#result').html(obj.result + " EUR");
                },
                error: function() {
                    //alert('Error while request..');
                    console.log('err ..')
                }
            });
        }
    </script>

</body>

</html>